useDynLib(BUS)

importFrom(stats, cor, cor.test, pbeta, runif, var)
importFrom(infotheo, discretize)

export(BUS, 
pred.network,
gene.similarity,
gene.trait.similarity,
gene.pvalue,
gene.trait.pvalue
)
